*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.row{
    display: flex;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    margin: 2px 0px 2px 0px;
}
a{
    text-decoration: none;
}
.container{
    width: 1150px;
    margin: 0px auto;
}
.header-section{
	background-image:url(C:\xampp\htdocs\ravisingh-Project\assets\images\raviback.png);
    background-size: 100% 100%;
    min-height: 100vh;
}
.header-row{
       background: url(../images/dott.png);
       min-height: 100vh;
       position: relative;
}
.header{
    background: rgba(223, 209, 209, 0.1);
    min-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 30;
}
.headerscroll{
    background: rgba(25, 25, 25, 0.8);
    min-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 30;
}
.justify-content{
    justify-content: space-between;
}
.logo{
    width: 20%;
    position: relative;
}
.nav-bar{
    width: 49%;
}
.fa-bars{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top:10px;
    right:54px;
    visibility: hidden;
    cursor: pointer;
}
.fa-times{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top:10px;
    right:56.3px;
    visibility: hidden;
    cursor: pointer;
}
.logo h1{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 5px 0px;
    font-size: 30px;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
}
.nav-bar ul li a{
    color: #fff;
    display: block;
    padding: 10px 8px;
    font-size: 20px;
    
}
.nav-bar ul li:hover{
    background-color: #fc1414;
    border-radius: 10px 40px 10px 40px;
}
.header-desc h2{
    font-size: 62px;
    color: #ffffff;
    line-height: 59px;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 3px 3px #fff;
}
.header-desc h5{
    line-height: 30px;
    color: #000;
    letter-spacing: 1px;
}
.header-desc p{
    line-height: 20px;
    letter-spacing: 1px;
    padding-top: 5px;
    color: #000;
}
.header-desc{
    width: 500px;
   position: absolute;
   top: 162px;
    left: 94px;
}
.header-desc ul li i{
    font-size: 12px;
    margin-right: 4px;
}
.header-desc ul li a{
    display: block;
    padding: 8px 18px;
    color: #fff;
    display: block;
    font-size: 20px;
}
.header-desc ul{
    margin-top: 18px;
}
.known-more{
    background-color: #fc1414;
}
.cv{
    border: 1.5px solid #fff;
}
.cv:hover{
    background-color: #11b563;
    border: transparent;
}
.known-more:hover{
    border: 1.5px solid #fff;
    background-color: transparent;
}
#about{
    min-height: 650px;
	
}
#about h3{
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    text-align: center;
    margin: 50px 0px 30px 0px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
	text-decoration: underline;
}
#about .about-left h3{
    text-align: left;
    font-size: 30px;
    text-transform: uppercase;
    border:  7px double #ff4f81;
    color: #146eb4;
    font-weight: bold;
    padding: 2px 8px;
    display: inline;
}
.about-left{
    width: 60%;

}
.about-right{
    width: 40%;
	
}
.about-right img{
    width: 100%;
    height: 450px;
   border-radius:15px;
}
P{
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
    letter-spacing: .5px;
    font-size: 14px;
}
.about-left p{
    margin: 25px 0px;
}
#skills{
min-height: 100vh;
}
#skills h3{
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    text-align: center;
    margin: 50px 0px 30px 0px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.animate{
   animation: changecolor 5s infinite;
}
@keyframes changecolor{
    0%,23%{
       color: #146eb4;
    }
   25%,48%{
       color: #00bfff;
   }
    50%,73%{
        color: LightSlateGray ;
    }
    75%,98%{
        color: Lime;
    }
    100%{
        color: #006080;
    }
}
.progressBar{
    position: relative;
    width: 100%;
    height: 40px;
    background: #eeeeee;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: 0 1px 2px #222;
}
.title{
    position: absolute;
    width: 100px;
    height: 40px;
    padding-left: 10px;
    float: left;
    font-weight: bold;
    color: #fff;
    line-height: 2.5;
    z-index: 10;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 2px 0 2px #333;
    text-shadow: 1px 1px 1px #000;
}
.progress_value{
    position: relative;
    float: right;
    padding-right: 10px;
    line-height: 2.5;
    font-weight: bold;
    color: #455a64;
    z-index: 10;
}
.progress{
    height: 40px;
    position: absolute;
    border-radius: 5px;
    box-shadow: 2px 0 2px #555;
}
.htmlColor{
    background: #dc143c;
}
.cssColor{
    background: #4a148c;
}
.jsColor{
    background: #ff4500;
}
.jQueryColor{
    background: #1b5e20;
}
.bootColor{
    background: #146eb4;
}
.corejColor{
    background: #dc143c;
}
.advjColor{
    background: #4a148c;
}
.springColor{
    background: #ff4500;
}
.angularColor{
    background: #1b5e20;
}
.reactColor{
    background: #146eb4;
}
.html{
    background: #db4866;
}
.css{
    background: #55298a;
}
.js{
    background: #fa8d64;
}
.jQuery{
    background: #66bb6a;
}
.boot{
    background: #4c87b5;
}
.corej{
    background: #db4866;
}
.advj{
    background: #55298a;
}
.spring{
    background: #fa8d64;
}
.angular{
    background: #66bb6a;
}
.react{
    background: #4c87b5;
}
.skills-left{
    width: 48%;
}
.skills-right{
    width: 48%;
}
.percentage{
    position: absolute;
    right: 0px;
}
footer{
    background-color: #272727;
    height:80px;
}
.footer-left{
    width: 20%;
}
.footer-right{
    width: 31%;
    line-height: 50px;
}
.footer-left h2{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    margin: 5px 0px;
    font-size: 30px;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
    line-height: 80px;
    display: inline;
}
.footer-right span{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 80px;
}
.footer-right a{
    color: #11b563;
    font-weight: bold;
    text-transform: uppercase;
}
#contact{
    min-height: 100vh;
}
#contact h3{
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    margin: 50px 0px 20px 0px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.contact-left{
    width: 50%;
}
.contact-right{
    width: 50%;
}.contact-left .col-left input{
    padding: 10px;
    margin-bottom: 15px;
    width: 95%;
}
.contact-left .col-left{
    margin-top: 40px;
    width: 50%;
}
.contact-left .btn{
    padding: 10px 30px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    background-color: #fc1414;
    border: transparent;
    margin-top: 20px;
    cursor: pointer;
}
.contact-left .col-right input{
    padding: 10px;
    margin-bottom: 15px;
    width: 95%;
}
.contact-left .col-right{
    margin-top: 40px;
    width: 50%;
}
.msg{
    width: 98%;
    height: 200px;
    resize: none;
}
.contact-left-col-1{
    width: 50%;
    height: 100vh;
    text-align: center;
}
.contact-left-col-2{
    width: 50%;
    height: 100vh;
    text-align: center;
    
}
.height-col-1{
    height: 31%;
}
h4{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: #474747;
    margin-bottom: 10px;
}
.contact-right .iconset{
    color: #fff;
    font-size: 25px;
    background-color: #fc1414;
    border-radius: 30%;
    border: 15px solid #fc1414;
    margin-bottom: 10px;
}

.social a{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: block;
    text-align: center;
    line-height: 70px;
    font-size: 35px;
    margin: 0px 10px;
    border: 3px solid #000;
}
.social li a .fab:hover{
    transition: .7s;
    transform: rotateY(360deg);
}
.social li .fb{
    color:#3b5998;
}
.social li .insta{
    color:#E4405F;
}
.social li .twi{
    color:#55ACEE;
}
.social li .yt{
    color:#c4302b;
}
.social li .lik{
    color:#0077b5;
}
.social li .tel{
    color:#0088cc;
}
#mywork{
    min-height: 100vh;
}

#mywork h3{
font-family: 'DM Serif Display', serif;
    font-size: 40px;
    text-align: center;
    margin: 50px 0px 30px 0px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
#mywork ul li{
    width: 30%;
    margin: 0px 20px 30px 10px;
    border: 10px solid #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#mywork ul li img{
    width: 100%;
    height: 200px;
}
#mywork ul li:hover{
    border: 10px solid #11b563;
}
.top-arrow{
  position: fixed;
  bottom: 28px;
  right: 46px;
  cursor: pointer;
}
.hobby-row{
    width: 45%;
    margin-bottom: 50px;
}
.hobby-row-2{
    width: 45%;
}
.hobby-row .hobby-col p{
    padding: 10px;
}

.hobby-row-2 .hobby-col p{
    padding: 10px;
}

 #hobby h3{
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    text-align: center;
    margin: 30px 0px 50px 0px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.hobby-col{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
#hobby .coding{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #ff4f81;
    border:  2px solid #ff4f81;
}
#hobby .research{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #1cc7d0;
    border:  2px solid #1cc7d0;
}
#hobby .photography{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #8e43e7;
    border:  2px solid #8e43e7;
}
#hobby .traveling{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #ffc20e;
    border:  2px solid #ffc20e;
}
#hobby .music{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #ed1b2e;
    border:  2px solid #ed1b2e;
}
#hobby .thinking{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #7fbb00;
    border:  2px solid #7fbb00;
}
#hobby span{
  display: block;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%,-50%);
}
#hobby .hobby-col i{
    font-size: 35px;
    text-align: center;
    line-height: 75px;
    display: block;
}
#hobby .hobby-col h5{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 100px 0px 0px 0px;
}
#education h3{
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    text-align: center;
    margin: 30px 0px 50px 0px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.education-row{
    width: 45%;
}
.education-row-2{
    width: 45%;
}
.education-row-3{
    width: 100%;
    margin-top: 2%;
}
.wrap{
    flex-wrap: wrap;
}
.education-row .hobby-col p{
    padding: 10px;
}

.education-row-2 .hobby-col p{
    padding: 10px;
}
.education-col:hover{
	background-color:blue;
}
.education-col {
    font-family: 'Open Sans', sans-serif;
    width: 500px;
    height: 400px;
    border-radius: 50%;
	
}
.education-col h1{
    text-align: center;
    padding-top: 28%;
    font-size: 30px;
  
}
.education-col h2{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
}
.col-1{
    margin-left: 23%;
    border: 5px solid #ff4f81;
    color: #ff4f81;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col-2{
    border: 5px solid #1cc7d0;
    color: #1cc7d0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col-3{
    margin-left: 32%;
    border: 5px solid #7fbb00;
    color: #7fbb00;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
